---
layout: splash
title: "Automation Guru && Gaming Casual"
header:
  overlay_color: "#0092ca"
  overlay_filter: "0.5"
  overlay_image: /assets/images/Logo.png
  #cta_label: "Download"
  #cta_url: "https://github.com/mmistakes/minimal-mistakes/"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Drop by from time to time to check out my thoughts on all sorts of awesome things.  I'm still working on things around here, so keep checking back!"
intro: 
  - excerpt: 'When the dust settles around here, recent thoughts will show below.'
---

{% include feature_row id="intro" type="center" %}

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
