---
layout: splash
title: "Automation Guru"
author_profile: true
header:
  overlay_color: "#0092ca"
  overlay_filter: "0.5"
  overlay_image: /assets/images/Logo.png
  cta_label: "Go To Current Site"
  cta_url: "https://git.joeco.de"
  #caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Drop by from time to time to check out my thoughts on all sorts of awesome things.  I'm still working on things around here, so keep checking back!"
intro: 
  - excerpt: '<a href="https://www.facebook.com/JoeGarcia.FL" itemprop="sameAs"><i class="fa fa-fw fa-4x fa-facebook-square" aria-hidden="true"></i></a> <a href="https://twitter.com/Joe_Garcia" itemprop="sameAs"><i class="fa fa-fw fa-4x fa-twitter-square" aria-hidden="true"></i></a> <a href="https://github.com/infamousjoeg" itemprop="sameAs"><i class="fa fa-fw fa-4x fa-github-square" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/in/JoeGarciaFL" itemprop="sameAs"><i class="fa fa-fw fa-4x fa-linkedin-square" aria-hidden="true"></i></a> <a href="https://steamcommunity.com/id/InfamousJoeG" itemprop="sameAs"><i class="fa fa-fw fa-4x fa-steam-square" aria-hidden="true"></i></a> <a href="https://youtube.com/InfamousJoeG" itemprop="sameAs"><i class="fa fa-fw fa-4x fa-youtube-square" aria-hidden="true"></i></a>'
---

{% include feature_row id="intro" type="center" %}

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
